@model Product_Details_Devops.Models.Product

<!DOCTYPE html>
<html>
    <head>
        <title>Purchase Details</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
            }
        </style>
    </head>
    <body>
        <h2>Purchase Details</h2>
        <div>
            <strong>ID: </strong> @Model.Id <br />
            <strong>Name: </strong> @Model.Name <br />
            <strong>Price: </strong> @Model.Price <br />
            <strong>Quantity: </strong> @Model.Qunatity <br />
            <strong>Discount: </strong> @Model.Discount <br />
            <strong>Date: </strong> @Model.DateTime<br />
        </div>
    </body>
</html>